<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sean.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.a.activity.HandlerTestActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.a.activity.EventBusActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BaseActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.a.activity.TimeLineActivity" />
        <activity android:name=".ui.a.activity.RecyclerDemoActivity" />
        <activity android:name=".ui.a.activity.MyDialogActivity"></activity>
    </application>

</manifest>